{% extends 'base.html.twig' %}

{% block title %}👨🏻‍💻 À propos - Développeur web - Adrien Cappelaere{% endblock %}
{% block metadescription %}Laissez-vous guider pour accroître votre présence digitale ! Professionnel du web, je développe des sites optimisés pour atteindre vos objectifs et utilisateurs.{% endblock %}
{% block metatitle %}👨🏻‍💻 À propos - Développeur web - Adrien Cappelaere{% endblock %}


{% block body %}

    <!-- HERO -->
    <div class="a-hero-about">
        <section class="section a-hero a-hero-propos has-padding-bottom-0 is-flex">
            <div>
                <h1 class="title is-size-2-mobile is-size-1-tablet has-text-white">Je suis Adrien Cappelaere.</h1>
                <h2 class="title is-size-2-mobile is-size-1-tablet a-text-blue-3 has-margin-bottom-62">Développeur, designer, marketeur mais également gamer et amateur de bonne cuisine.</h2>
                <div class="is-flex">
                    <div class="scroller scroller-about has-margin-right-24">
                    </div>
                    <a href="#about" class="button is-white has-text-primary has-text-weight-bold scroll button-hero">
                        <span>En savoir plus</span>
                        <span class="icon">
                <i class="gg-arrow-down-o"></i>
            </span>
                    </a>
                </div>
            </div>
        </section>
    </div>

    <!-- ABOUT -->
    <section id="about" class="section is-flex has-padding-top-24 a-who">
            <div class="is-hidden-touch has-margin-32">
                <img src="{{ asset('build/images/about.png') }}" alt="Illustration de la page A propos d'Adrien Cappelaere">
            </div>
            <div class="a-hero-who-txt">
                <h1 class="title is-size-2-mobile is-size-1-tablet has-text-primary has-margin-top-56">Adrien, c’est qui ?</h1>

                <p class="content">Je suis stratégiste digital, spécialisé en référencement naturel. Je reste cependant polyvalent et capable d’intervenir sur des missions de développement web ou de design. Mon obsession est l’optimisation, que ce soit en terme d’UX, de marketing ou de performances techniques.</p>
                <p class="content">Étant intéressé par le web depuis tout petit, je me suis naturellement orienté vers cet univers et plus précisément le marketing digital. Responsable eCommerce puis responsable SEO en agence web, je me spécialise en référencement naturel tout en élargissant ma compréhension du secteur digital.</p>
                <p class="content">J’ai également développé une compréhension avancée de sujets tels que l’UX (expérience utilisateur), le design ou le développement web. Cela me permet de créer des stratégies digitales réalistes et adaptées à l’environnement de mes clients.</p>
                <p class="content">Durant mon temps libre, vous me trouverez principalement à deux endroits. Soit sur mon ordinateur, pour travailler sur des projets personnels, me former ou jouer en ligne, soit dans la nature pour courir, randonner ou faire du vélo.</p>
            </div>
    </section>

    <!-- VALEURS -->
    <section class="section has-padding-top-24">
        <h1 class="title is-size-2-mobile is-size-1-tablet has-text-primary">Mes valeurs</h1>
        <div class="a-valeur content">
            <div class="a-valeur-txt">
                <p class="title is-size-1 a-text-blue-8 has-margin-bottom-16">01.</p>
                <h3 class="subtitle is-size-4 has-text-weight-bold has-text-primary">Garder le cap sur le business</h3>
                <p class="content">Pour qu'une entreprise soit viable, elle doit être rentable. C'est sur ce principe que mes propositions d'optimisation et de stratégie reposent pour s'assurer d'être toujours en cohérence avec les objectifs commerciaux.</p>
                <p class="content">Cela passe notamment par une profonde compréhension de votre business et de votre environnement. Je ne suis pas simple prestataire de service mais partenaire dans le développement de votre activité.</p>
            </div>
            <div class="has-margin-16 a-valeur-img">
                <img src="{{ asset('build/images/valeur-business.png') }}" alt="Illustration de la valeur Garder le cap sur le business">
            </div>
        </div>
        <div class="a-valeur a-valeur-droite content">
            <div class="a-valeur-txt">
                <p class="title is-size-1 a-text-blue-8 has-margin-bottom-16">02.</p>
                <h3 class="subtitle is-size-4 has-text-weight-bold has-text-primary">L'UX est la clé du succès</h3>
                <p class="content">Quelque soit l'objectif de votre activité, son succès réside dans votre compréhension de vos utilisateurs. Ne pas aligner vos actions avec les besoins de ceux qui utilisent votre produit ou service, c'est courir à votre perte.</p>
                <p class="content">C'est pour cette raison que je cherche constamment à comprendre vos utilisateurs, leurs difficultés et leurs besoins afin d'orienter votre stratégie dans la bonne direction.</p>
            </div>
            <div class="a-valeur-gauche has-margin-16 a-valeur-img">
                <img src="{{ asset('build/images/valeur-ux.png') }}" alt="Illustration de la valeur L'UX est la clé du succès">
            </div>
        </div>
        <div class="a-valeur content">
            <div class="a-valeur-txt">
                <p class="title is-size-1 a-text-blue-8 has-margin-bottom-16">03.</p>
                <h3 class="subtitle is-size-4 has-text-weight-bold has-text-primary">Une relation saine et pérenne</h3>
                <p class="content">Je me positionne en tant que partenaire dans notre collaboration. La transparence est totale dans notre communication et je vous conseille à tous les niveaux de votre stratégie digitale.</p>
                <p class="content">Je vous aide à définir de nouvelles opportunités pour votre activité, et vous accompagne de la stratégie à l'implémentation concrète de vos prochaines solutions.</p>
            </div>
            <div class="has-margin-16 a-valeur-img">
                <img src="{{ asset('build/images/valeur-client.png') }}" alt="Illustration de la valeur Une relation saine et pérenne">
            </div>
        </div>
        <div class="a-valeur a-valeur-droite content">
            <div class="a-valeur-txt">
                <p class="title is-size-1 a-text-blue-8 has-margin-bottom-16">04.</p>
                <h3 class="subtitle is-size-4 has-text-weight-bold has-text-primary">Faire parler les chiffres</h3>
                <p class="content">De nos jours, nous récoltons au quotidien des milliers d'informations qui sont mises à notre disposition. Je les analyse pour définir votre stratégie digitale et l'adapter en fonction de leurs évolutions.</p>
                <p class="content">Ces chiffres sont essentiels pour évaluer le succès de votre stratégie et pouvoir la faire évoluer. Je met donc en place des systèmes de tracking pour pouvoir mesurer les différents leviers digitaux mis en place.</p>
            </div>
            <div class="a-valeur-gauche has-margin-16 a-valeur-img">
                <img src="{{ asset('build/images/valeur-chiffre.png') }}" alt="Illustration de la valeur Faire parler les chiffres">
            </div>
        </div>
        <div class="a-valeur content">
            <div class="a-valeur-txt">
                <p class="title is-size-1 a-text-blue-8 has-margin-bottom-16">05.</p>
                <h3 class="subtitle is-size-4 has-text-weight-bold has-text-primary">Se former en permanence</h3>
                <p class="content">Le digital est un domaine qui évolue en permanence et très rapidement. Les méthodes d'aujourd'hui ne sont pas celles de demain et je reste donc en formation constante pour être à la pointe des connaissances.</p>
                <p class="content">Cette auto-formation continue me permet également d'élargir mon champs de compétences en me formant sur des sujets complémentaires. Comprendre les différents axes du digital que sont le technique, l'UX et le marketing est essentiel pour un professionnel spécialisé dans ce domaine.</p>
            </div>
            <div class="has-margin-16 a-valeur-img">
                <img src="{{ asset('build/images/valeur-apprendre.png') }}" alt="Illustration de la valeur Se former en permanence">
            </div>
        </div>

    </section>



    <!-- CONTACT -->
    <footer class="footer">
        <script>
            function notificationFooter() {
                let box = document.getElementById("notificationFooter");
                box.classList.remove("is-hidden");
                function closeHelpDiv(){
                    document.getElementById("notificationFooter").classList.add("is-hidden");
                }
                // close the div in 5 secs
                window.setTimeout( closeHelpDiv, 4000 );
            }
        </script>
        <div class="section">
            <div class="a-footer-txt">
                <h2 class="title is-size-3-mobile is-size-1-tablet is-marginless has-text-white">Me contacter</h2>
                <p class="title is-size-3-mobile is-size-1-tablet a-text-blue-3">Je serais ravi d’échanger avec vous autour d’un bon thé. Envoyez moi un email et arrangeons nos disponibilités !</p>
                <a data-clipboard-text="adrien.cappelaere@gmail.com" class="button is-white has-text-primary has-text-weight-bold copy" onclick="notificationFooter()">
                    <span>Me contacter</span>
                    <span class="icon">
                <i class="gg-mail"></i>
                    </span>
                </a>
                <div id="notificationFooter" class="is-hidden has-text-white content has-margin-top-16">
                    Vous avez copié mon email ! 💬
                </div>
            </div>
            <div class="is-hidden-mobile is-flex a-contact-img">
                <img src="{{ asset('build/images/contact.png') }}" alt="Illustration du bloc de contact">
            </div>
        </div>

    </footer>
{% endblock %}
