<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="{{ asset('build/images/favicon.png') }}" />
        <meta name="robots" content="noindex">
        <meta name="description" content="{% block metadescription %}{% endblock %}" />
        <meta name="title" content="{% block metatitle %}{% endblock %}">

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="{{ app.request.uri }}">
        <meta property="og:title" content="Adrien Cappelaere - Stratégiste digital">
        <meta property="og:description" content="Laissez-vous guider pour accroître votre présence digitale ! Professionnel du web, je développe des sites optimisés pour atteindre vos objectifs et utilisateurs.">
        <meta property="og:image" content="{{ asset('build/images/opengraph.jpg') }}">

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:url" content="{{ app.request.uri }}">
        <meta property="twitter:title" content="Adrien Cappelaere - Stratégiste digital">
        <meta property="twitter:description" content="Laissez-vous guider pour accroître votre présence digitale ! Professionnel du web, je développe des sites optimisés pour atteindre vos objectifs et utilisateurs.">
        <meta property="twitter:image" content="{{ asset('build/images/opengraph.jpg') }}">

        {% block stylesheets %}
            {# 'app' must match the first argument to addEntry() in webpack.config.js #}
            {{ encore_entry_link_tags('app') }}

            <!-- Renders a link tag (if your module requires any CSS)
                 <link rel="stylesheet" href="/build/app.css"> -->
        {% endblock %}
    </head>
    <body>
    <nav class="navbar is-fixed-top-desktop" role="navigation" aria-label="main navigation">
        {% if (app.request.get('_route') == 'about') %}
            <div class="navbar-brand a-navbar-top-about">
        {% else %}
            <div class="navbar-brand">
        {% endif %}
            <a class="navbar-item" href=" {{ path('home') }} ">
                <figure id="image is-64x64">
                    {% if (app.request.get('_route') == 'about') %}
                    <img src="{{ asset('build/images/logo-white.png') }}" alt="Illustration d'accueil">
                    {% else %}
                    <img src="{{ asset('build/images/logo.png') }}" alt="Illustration d'accueil">
                    {% endif %}
                </figure>
            </a>
        </div>
        <div id="" class="navbar-menu is-hidden-mobile ">
            <div class="navbar-end navbar-desktop">
                <a href="{{ path('home') }}" class="navbar-item has-text-primary is-size-7" style="flex-direction: column">
                    <span class="icon"><i class="gg-home"></i></span>
                    <span>Accueil</span>
                </a>
                <p style="align-self:center;">|</p>
                <a href="{{ path('about') }}" class="navbar-item is-size-7	" style="flex-direction: column">
                    <span class="icon"><i class="gg-profile"></i></span>
                    <span>À propos</span>
                </a>
                <p style="align-self:center;">|</p>
                <a href="{{ path('contact') }}" class="navbar-item is-size-7	" style="flex-direction: column">
                    <span class="icon"><i class="gg-mail"></i></span>
                    <span>Contact</span>
                </a>
            </div>
        </div>
    </nav>
    <nav class="navbar is-fixed-bottom is-hidden-desktop is-centered " role="navigation" aria-label="main navigation">
        <div class="navbar-brand is-flex navbar-bottom ">
            <a href="{{ path('home') }}" class="navbar-item has-text-primary is-size-7" style="flex-direction: column">
                <span class="icon"><i class="gg-home"></i></span>
                <span>Accueil</span>
            </a>
            <p style="align-self:center;">|</p>
            <a href="{{ path('about') }}" class="navbar-item is-size-7	" style="flex-direction: column">
                <span class="icon"><i class="gg-profile"></i></span>
                <span>À propos</span>
            </a>
            <p style="align-self:center;">|</p>
            <a href="{{ path('contact') }}" class="navbar-item is-size-7	" style="flex-direction: column">
                <span class="icon"><i class="gg-mail"></i></span>
                <span>Contact</span>
            </a>
        </div>
    </nav>
    {% block body %}{% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        <!-- Hotjar Tracking Code for http://dev.acappelaere.com/ -->
        <script>
            (function(h,o,t,j,a,r){
                h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
                h._hjSettings={hjid:1803140,hjsv:6};
                a=o.getElementsByTagName('head')[0];
                r=o.createElement('script');r.async=1;
                r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
                a.appendChild(r);
            })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
        </script>
        <!-- Renders app.js & a webpack runtime.js file
            <script src="/build/runtime.js"></script>
            <script src="/build/app.js"></script> -->
    {% endblock %}
    </body>
</html>
