<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="{{ asset('build/images/favicon.png') }}" />
        <meta name="robots" content="index,follow">
        <meta name="description" content="{% block metadescription %}{% endblock %}" />
        <meta name="title" content="{% block metatitle %}{% endblock %}">
        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="{{ app.request.uri }}">
        <meta property="og:title" content="Adrien Cappelaere - Stratégiste digital">
        <meta property="og:description" content="Laissez-vous guider pour accroître votre présence digitale ! Professionnel du web, je développe des sites optimisés pour atteindre vos objectifs et utilisateurs.">
        <meta property="og:image" content="{{ asset('build/images/opengraph.jpg') }}">
        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:url" content="{{ app.request.uri }}">
        <meta property="twitter:title" content="Adrien Cappelaere - Stratégiste digital">
        <meta property="twitter:description" content="Laissez-vous guider pour accroître votre présence digitale ! Professionnel du web, je développe des sites optimisés pour atteindre vos objectifs et utilisateurs.">
        <meta property="twitter:image" content="{{ asset('build/images/opengraph.jpg') }}">
        <script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
        <script>
            function notificationDesktop() {
                let box = document.getElementById("notificationDesktop");
                box.classList.remove("is-hidden");
                function closeHelpDiv(){
                    document.getElementById("notificationDesktop").classList.add("is-hidden");
                }
                // close the div in 5 secs
                window.setTimeout( closeHelpDiv, 4000 );
            }
            function removeNotificationDesktop() {
                let box = document.getElementById("notificationDesktop");
                box.classList.add("is-hidden");
            }
            function notificationMobile() {
                let box = document.getElementById("notificationMobile");
                box.classList.remove("is-hidden");
                function closeHelpDiv(){
                    document.getElementById("notificationMobile").classList.add("is-hidden");
                }
                // close the div in 5 secs
                window.setTimeout( closeHelpDiv, 4000 );
            }
            function removeNotificationMobile() {
                let box = document.getElementById("notificationMobile");
                box.classList.add("is-hidden");
            }
            function closeHelpDiv(){
                document.getElementById("notificationMobile").classList.add("is-hidden");
                document.getElementById("notificationDesktop").classList.add("is-hidden");
            }
            // close the div in 5 secs
            window.setTimeout( closeHelpDiv, 4000 );
        </script>

        {% block stylesheets %}
            {# 'app' must match the first argument to addEntry() in webpack.config.js #}
            {{ encore_entry_link_tags('app') }}

            <!-- Renders a link tag (if your module requires any CSS)
                 <link rel="stylesheet" href="/build/app.css"> -->
        {% endblock %}
    </head>
    <body>
    <nav class="navbar is-fixed-top-desktop" role="navigation" aria-label="main navigation">
        {% if (app.request.get('_route') == 'about') %}
            <div class="navbar-brand a-navbar-top-about">
        {% else %}
            <div class="navbar-brand">
        {% endif %}
            <a class="navbar-item" href=" {{ path('home') }} ">
                <figure id="image is-64x64">
                    {% if (app.request.get('_route') == 'about') %}
                    <img src="{{ asset('build/images/logo-white.png') }}" alt="Illustration d'accueil">
                    {% else %}
                    <img src="{{ asset('build/images/logo.png') }}" alt="Illustration d'accueil">
                    {% endif %}
                </figure>
            </a>
        </div>
        <div id="" class="navbar-menu is-hidden-mobile ">
            <div class="navbar-end navbar-desktop">
                <a href="{{ path('home') }}" class="navbar-item is-size-7" style="flex-direction: column">
                    <span class="icon"><i class="gg-home"></i></span>
                    <span>Accueil</span>
                </a>
                <p style="align-self:center;">|</p>
                <a href="{{ path('about') }}" class="navbar-item is-size-7	" style="flex-direction: column">
                    <span class="icon"><i class="gg-profile"></i></span>
                    <span>À propos</span>
                </a>
                <p style="align-self:center;">|</p>
                <a class="navbar-item is-size-7 copy" style="flex-direction: column" data-clipboard-text="adrien.cappelaere@gmail.com" onclick="notificationDesktop()">
                    <span class="icon"><i class="gg-mail"></i></span>
                    <span>Contact</span>
                </a>
                <div style="position:relative">
                    <div id="notificationDesktop" class="notification notification-desktop is-hidden">
                        <button class="delete" onclick="removeNotificationDesktop()"></button>
                        Vous avez copié mon email ! 💬
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <nav class="navbar is-fixed-bottom is-hidden-desktop is-centered " role="navigation" aria-label="main navigation">
        <div class="navbar-brand is-flex navbar-bottom ">
            <a href="{{ path('home') }}" class="navbar-item is-size-7" style="flex-direction: column">
                <span class="icon"><i class="gg-home"></i></span>
                <span>Accueil</span>
            </a>
            <p style="align-self:center;">|</p>
            <a href="{{ path('about') }}" class="navbar-item is-size-7	" style="flex-direction: column">
                <span class="icon"><i class="gg-profile"></i></span>
                <span>À propos</span>
            </a>
            <p style="align-self:center;">|</p>
            <a class="navbar-item is-size-7 copy" style="flex-direction: column" data-clipboard-text="adrien.cappelaere@gmail.com" onclick="notificationMobile()">
                <span class="icon"><i class="gg-mail"></i></span>
                <span>Contact</span>
            </a>
            <div style="position:relative">
                <div id="notificationMobile" class="notification notification-mobile is-hidden">
                    <button class="delete" onclick="removeNotificationMobile()"></button>
                    Vous avez copié mon email ! 💬
                </div>
            </div>
        </div>
    </nav>
    {% block body %}{% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        <!-- Hotjar Tracking Code for http://dev.acappelaere.com/ -->
        <script>

        </script>
        <!-- Renders app.js & a webpack runtime.js file
            <script src="/build/runtime.js"></script>
            <script src="/build/app.js"></script> -->
    {% endblock %}
    </body>
</html>
